h1 {
	font-family: ;
	position: center;
	font-family: 'Sniglet', cursive;
}

h2 {
	font-family: 'Sniglet', cursive;
}
h3 {
	color: blue;
}

a {
	text-decoration: none;
}

li{
	list-style: none;
	font-family: 'Sniglet', cursive;
}

body {
	font-size: 20px;
	position: center;
}